body {
  font-family: "Open Sans", sans-serif; 
}

h1, h2, h3, .card-body>h5 {
  font-family: "Courgette", cursive; 
}

h5 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

.card-img-overlay h5 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background: #011627;
  /* fallback for old browsers */
  opacity: 0.9; 
}

.navbar .nav-link, .navbar-text {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; 
}

.page-footer {
  background-image: linear-gradient(60deg, #29323c 0%, #011627 100%);
  align-items: center; 
  margin-top: 50px;
}

.carouSlider {
  padding-bottom: 80px; }

.carousel-item {
  position: relative;
  height: 675px;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }

.boxes img {
  margin-top: -110px; }

.newsletter {
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #928DAB, #00d2ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 100px; 
  margin-bottom: 50px;
}

#latestPost h3, #contactSection h3 {
  color: #ef476f;
  font-size: 2rem; }

.latestPost, .serviceId, .add-It-Head {
  font-family: "Caveat", sans-serif;
  font-size: 1.6rem; }

#contact1 {
  background: #ef476f; }

/* Contact Form Section */
#signInSection, #resetSection {
  margin-top: 20px;
  margin-bottom: 35px;
}

.getInTouch, .contactUsPart {
  color: #ef476f;
}

.contactUsSection {
  font-family: "Dancing script", sans-serif;
  font-size: 25px; }

.contactUsSection {
  border-bottom: #ef476f 2px solid;
  padding-bottom: 15px; }

  .sizing {
  font-size: 14px;
  text-align: center; }

.separator {
  display: flex;
  align-items: center;
  text-align: center; }

.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #CEC8FF; }

.separator::before {
  margin-right: .25em; }

.separator::after {
  margin-left: .25em; }

Form.formGroup a:hover {
  text-decoration: none; }

Button #shadow:hover, #shadow:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); }

  .placeHolder {
  font-size: 15px;
  height: 50px !important; }
  .placeHolder .placeHolder::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 15px; }
  .placeHolder .placeHolder::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 15px; }
  .placeHolder .placeHolder:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 15px; }
  .placeHolder .placeHolder::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 15px; }
  .placeHolder .placeHolder:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 15px; }

#header-services {
  height: 100px;
  background-position: 0 -820px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: #eee;
  padding-top: 125px; }

#faq .card {
  border: #ffd166; }
  #faq .card .card-body {
    background: #2f587b; }

#faq .card-header {
  background: #4c96cb; }
  #faq .card-header a {
    color: #fff;
    text-decoration: none; }

.clean-Header {
  width: 100%;
  margin: auto; }

#overview {
  padding-top: 70px; }
  #overview img {
    margin-top: -120px; }
  #overview .card:hover {
    background: #2f587b;
    color: #fff; }

#servicesHead {
  background: #2f587b; }
  #servicesHead h3 {
    color: #fff;
    font-size: 2rem; }

.hoverOn:hover {
  background: #fff;
  color: #000; }