body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Courgette", cursive; }

.navbar {
  background: #011627;
  /* fallback for old browsers */
  opacity: 0.9; }

.navbar .nav-link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }

.page-footer {
  background-image: linear-gradient(60deg, #29323c 0%, #011627 100%);
  align-items: center; }


